DatasetRUL/*

ResultsRUL/Adversarial/*
ResultsRUL/Normal/*
ResultsRUL/OptimalParameters/*
ResultsRUL/Figures/*

!DatasetRUL/
!ResultsRUL/Adversarial/    
!ResultsRUL/Normal/
!ResultsRUL/OptimalParameters/
!ResultsRUL/Figures/
