DatasetRUL/*

ResultsRUL/Adversarial/*
ResultsRUL/Normal/*
ResultsRUL/OptimalParameters/*
ResultsRUL/Figures/*

!DatasetRUL/.gitkeep
!ResultsRUL/OptimalParameters/.gitkeep
!ResultsRUL/Figures/.gitkeep

!ResultsRUL/Adversarial/    

!ResultsRUL/Normal/RNN/.gitkeep
!ResultsRUL/Normal/GRU/.gitkeep
!ResultsRUL/Normal/LSTM/.gitkeep

!ResultsRUL/Adversarial/RNN/FGSM/.gitkeep
!ResultsRUL/Adversarial/RNN/BIM/.gitkeep
!ResultsRUL/Adversarial/RNN/CW/.gitkeep
!ResultsRUL/Adversarial/RNN/L2/.gitkeep
!ResultsRUL/Adversarial/RNN/L0/.gitkeep

!ResultsRUL/Adversarial/GRU/FGSM/.gitkeep
!ResultsRUL/Adversarial/GRU/BIM/.gitkeep
!ResultsRUL/Adversarial/GRU/CW/.gitkeep
!ResultsRUL/Adversarial/GRU/L2/.gitkeep
!ResultsRUL/Adversarial/GRU/L0/.gitkeep

!ResultsRUL/Adversarial/LSTM/FGSM/.gitkeep
!ResultsRUL/Adversarial/LSTM/BIM/.gitkeep
!ResultsRUL/Adversarial/LSTM/CW/.gitkeep
!ResultsRUL/Adversarial/LSTM/L2/.gitkeep
!ResultsRUL/Adversarial/LSTM/L0/.gitkeep